ListenToMe/Connected Services/ServiceReferenceFBK/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" nillable="true" type="tns:Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSection" nillable="true" type="tns:ArrayOfSection" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputsAndHeadings" nillable="true" type="tns:ArrayOfElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:complexType name="ArrayOfElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Element" nillable="true" type="tns:Element" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElement" nillable="true" type="tns:ArrayOfElement" />
  <xs:complexType name="Element">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disabled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSeclected" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="List_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maxlength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placeholder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Required" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subelems" nillable="true" type="tns:ArrayOfElement" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Element" nillable="true" type="tns:Element" />
</xs:schema>